body {
	background-image: url(@image/background);
}

header {
	position: absolute;
	@style/compo
	text-align: center;
	min-height: @eval(add @dimen/page-header-height 2);
}

.top-menu {
	background-image: url(@image/menu-bg);
}