<?xml version="1.0" encoding="UTF-8" ?>
<${root}>
	<title>${title}</title>
	<description>${description}</description>
#if(${scriptPath})
	
	<scripts>
		<script src="${scriptPath}"></script>
	</scripts>
#end	
</${root}>
